# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

koishi-plugin/*.js
*.7z
*.tar
*.tgz
deno.lock
package-lock.json
__*__
*.proxy.*
node_modules
dist
dist-pages
.vite
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
